body{
    display: flex;
}
.cont{
    margin: 0 20px;
    background-color: #fffcfc;
}
nav {
    
    position: fixed;
    right:10px;
    left:10px;
    top:0;
    text-align: left;
    background-color: white;
    z-index: 1;
    
    padding: 0;
  
    
}

nav a{
    text-decoration: none;
    color: rgb(123, 0, 123);
    margin: 0 20px;
    text-align: left;
    padding:10px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight: bold;
    position: relative;
    top:25px;
    
}

nav a:hover{
  color:rgb(116, 116, 116);
}

.jlogo{
 
  border-radius: 20px;
  float: left;
  cursor:pointer;

 
}
label #btn,
label #cancel{
  color:black;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display:none;
}

#check{
  display:none;
}

.dropdown{
    position:relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    top:60px;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 0;
    z-index: 1;
    line-height: 40px;
    
  }
  .dropdown-content a{
    display: block;
    position:relative;
    top:0;
    color:rgb(5, 0, 0);
    padding:10px;
   
    
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover{
   
    color:rgb(116, 116, 116);
   
  }

  
  .wrap{
    background-color: black;
    display:flex;
    margin:50px 0;
    justify-content: space-around;
    border-radius: 5px;
    

  }

  .wrap-content{
    margin:50px 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    padding:20px;
    color: white;
    

  }

  #unwind{
    margin-top:125px;
  }

  i{
   
    margin:20px 5px;
  }

  i:hover{
    color:blue;
  }

  .chat:hover{
    color:rgb(248, 248, 14);
  }

  .chat{
    color:rgb(0, 30, 255);
    
    position: fixed;
    bottom:60px;
    right:20px;
  }

  .insta:hover {
    color:rgb(255, 109, 177)
  }

  .yout:hover {
    color:red;
  }
  .se{
    background-color: #c2bfb38b;
    border-radius: 20px;
    text-align: center;
    
  }
  
  .we{
    text-decoration:dotted;
  }

  .btn{
    margin-bottom: 10px;
  }

  footer{
    text-align: center;
    background-color: rgb(84, 80, 80);
    height: 50px;
    color: white;
    
  }
  @media only screen and (max-width: 840px){
    nav a{
      margin: 10px;
      font-size: 17px;
      
     
  }
  }
@media only screen and (max-width: 760px){

  nav{
    
    width: 100%;
   

    
   
   
  }

nav a{
   
    display: none;
   
}
label #btn{
  display: block;
  
}
    
    .wrap{
      flex-direction: column;
      width:100%;
    }
    .wrap-content{
      text-align: center;
      
    }

   .row{
    display: flex;
    flex-direction: column;
   }

   #unwind{
    width:100%;
    
   }

   p{
    text-align: justify;
   }

   .chat{
    bottom: 20px;
    right: 10px;
   }
}

