body{
    display:block;
}
.container{
   margin: 0 200px;
    background-color: #ffffff;
}
nav {
    
    background-color: white;
  
    
}

.text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    color:blueviolet;
    font-weight: bolder;
    font-size: 40px;
}
.jlogo{
 
    border-radius: 20px;
    float: right;
    cursor:pointer;
  
   
  }

  .frm{
    display: flex;
    justify-content: space-around;
   
  }
  .image{
      width: 500px;
      margin:30px;
  }
  .form{
      margin: 50px;
      text-align: center;
      
      
  }
  .come{
     
      margin:100px;
  }
  
  #inputer{
      width: 380px;
      height: 40px;
      margin-top: 5px;
      color: rgb(133, 133, 133);
      padding-left: 10px;
  
  }

  .hyperlink{
    float: right;
    margin-right: 5px;
    position:absolute;
    top: 15px;
    right: 0px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  }

  footer{
    text-align: center;
    background-color: rgb(84, 80, 80);
    height: 50px;
    color: white;
    
  }